.App{
  margin-left: 100px;
}
.addScore1, .addScore4, .addScore6 {
  margin-left: 100px;
  margin-right: 5px;
  background-color: tomato;
  border: none;
  height: 30px;
  width: 100px;
  font-weight: bold;
}
.addWicket > button{
  margin-left: 80px;
  margin-right: 5px;
  background-color: tomato;
  border: none;
  height: 30px;
  width: 100px;
  font-weight: bold;
}
.addBall > button{
  margin-left: 100px;
  margin-right: 5px;
  background-color: tomato;
  border: none;
  height: 30px;
  width: 100px;
  font-weight: bold;
}
.addWicket, .addScore, .addBall{
  margin-top: 20px;
  font-weight: 700;
}
.banner{
  display: flex;
  justify-content: space-around;
}
